/*
github.com/alexboden/firefox/local-files.css
*/

@-moz-document url-prefix("file:///") {
    
    /* Increase the font-size and change the font-family of the file listings */
    th,
    td {
        font-size: 16px;
        font-family: Arial, sans-serif;
        
    }

    /* Change the color of the file names */
    th:first-child a,
    td:first-child a {
        color: #fff;
    }
    
    th:first-child, td:first-child {
        width: 90% !important;
    }
    
    /* Change the background color of the selected file */
    tr:focus {
        background-color: #423e3e;
    }

    /* Add a hover effect on the file rows */
    tr:hover {
        background-color: #f00;
    }

    /* Add a border to the table */
    table {
        border-collapse: collapse;
        border: 1px solid #000;
    }
    /* Add a padding to the cells */
    th,
    td {
        padding: 10px;
        width: 25%;
        /* increase the width of the cells */
    }
    /* Add a background color to the header */
    thead {
        background-color: #423e3e;
    }

    /* Increase the height of the rows */
    tr {
        height: 50px;
    }

    /* Style the element with id UI_goUp */
    #UI_goUp {
        /* Change the text color */
        color: #fff;
        /* Add padding */
        padding: 10px;
        /* Change the font */
        font-family: Arial, sans-serif;
        font-size: 16px;
        /* Add a border */
        border: 1px solid #000;
    }
    
    #UI_goUp a {
        color:white
    }
    
    up {
        color:white
    }

    /* Style the specific h1 element */
    h1 {
        /* Change the text color */
        color: white;
        /* Change the font */
        font-family: Arial, sans-serif;
        font-size: 24px;
        font-weight: bold;
        /* Add a background color */
        /* Add padding */
        padding: 10px;
        /* Centering */
        display: flex;
        align-items: center;
        justify-content: center;
    }

}
